*
{
    padding: 0;
    margin: 0;
    user-select: none;
}

body 
{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #01865c;
}

.button 
{
    background-color: #04AA6D; 
    border: none;
    color: #0e4207f3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.button:hover 
{
    background-color: RoyalBlue;
}

.settings-button 
{
    background-color: #04AA6D;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #0e4207f3;
}

.text
{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #0e4207f3;
    font-weight: 800;
}

.time-container 
{
    width: auto;
    height: 50px;
    padding: 5px;
    display: flex;
    overflow: hidden;
    background-color: #04AA6D;
    border-radius: 5px;
    color:#0e4207f3;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.time-container li 
{
    list-style-type: none;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 0px 10px;
    transition-duration: 0.33s;
}

.time-container .colon
{
    font-size: 30px;
    display: grid;
    place-items: center;
    font-weight: 800;
}

.digit li
{
    position: relative;
}